---
import '../styles/global.css';
import Layout from '../layouts/main.astro';
// Component Imports
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Julie Baret">
    <main class="flex flex-col sm:flex-row justify-between">
        <Hero />
    </main>
</Layout>
