---
import InteractiveWorkplace from './InteractiveWorkplace.astro';
---

<section>
    <div class="mx-auto max-w-screen-lg py-8 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8 h-fit-content">
            <div class="md:max-w-none text-center">
                <h1>Julie Baret</h1>
                <h2>Frontend engineer</h2>
                <p class="mt-2 text-gray-500">🚧​ Portfolio coming soon 🚧​</p>
            </div>
            <InteractiveWorkplace />
        </div>
    </div>
</section>
