---
import InteractiveWorkplace from './InteractiveWorkplace.astro';
---

<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
            <div class="md:max-w-none">
                <h1 class="text-2xl font-semibold text-gray-900 sm:text-3xl">Julie Baret</h1>
                <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">Frontend engineer</h2>
                <p class="mt-4 text-gray-700">Here's my portfolio</p>
            </div>
            <InteractiveWorkplace />
        </div>
    </div>
</section>
