---
import { Picture } from 'astro:assets';
import background from '../assets/cosy_workplace/background.png';
import poster from '../assets/cosy_workplace/arcane_poster.png';
import WobblingPlant from './WobblingPlant.astro';
---

<div class="md:h-[80dvh] w-full h-full relative overflow-visible">
    <Picture
        class="md:h-[80dvh] w-full h-full absolute bottom-0 left-0 -z-1"
        src={poster}
        alt="Arcane poster"
        id="poster"
    />
    <Picture
        class="md:h-[80dvh] w-full h-full block"
        src={background}
        alt="Cosy workplace"
        id="background"
    />
    <div class="absolute bottom-[3%] -left-[2%] z-10 w-full">
        <WobblingPlant />
    </div>
</div>

<style>
    #background {
        object-fit: cover;
        border-radius: 230% 170% 160% 123% / 100% 100% 70% 50%;
    }
</style>
